/* Page d'accueil */
.title {
    color: #901c1c;
    margin-right: 10rem;
    font-size: 4rem;
  }
  @media only screen and (max-width: 1023px) {
    .title {
      margin: 1em 0;
    }
  }
  
  .photographer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7rem;
    margin-top: 10rem;
  }
  @media only screen and (max-width: 1023px) {
    .photographer-section {
      grid-template-columns: 1fr 1fr;
      margin: 1em 0;
    }
  }
  @media only screen and (max-width: 767px) {
    .photographer-section {
      grid-template-columns: 1fr;
    }
  }
  .photographer-card {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .photographer-card-link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
  }
  .photographer-name {
    color: #d3573c;
    font-weight: 400;
    font-size: 3.6rem;
  }
  .photographer-img {
    height: 20rem;
    width: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
  }
  .photographer-location {
    color: #901c1c;
    font-weight: 400;
    font-size: 2rem;
  }
  .photographer-tagline {
    color: #000000;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .photographer-rate {
    color: #757575;
    font-weight: 400;
    font-size: 1.5rem;
  }